dist/
venv/
env/
__pycache__

.envrc
.direnv/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

# IDE settings
.vscode/

# repo pulled in for CI/CD
actions/
